<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>EspChat</title>
</head>

<body>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <form id="chat">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Nome de usuário">
                    </div>
                    <div class="card border-secondary mb-3" style="max-width: 25rem;">
                        <div class="card-header">Mensagens</div>
                        <div class="card-body text-left messages">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="message" class="form-control" placeholder="Digite sua mensagem...">
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Enviar</button>
                </form>
                Built with ❤️, made by Sampaio Leal. Thanks to Emanuelle Sá
            </div>
            <div class="col-sm"></div>
        </div>

    </div>

    <script>
        var socket = io("http://192.168.0.9:3000");

        function renderMessage(message) {
            $(".messages").append("<div class='message'><strong>" + message.author + "</strong>: " + message.message + "</div>")
        }

        socket.on("receivedMessage", function (message) {
            renderMessage(message);
        });
        socket.on("previousMessages", function (messages) {
            for (message of messages) {
                renderMessage(message);
            }
        });

        $("#chat").submit(function (event) {
            event.preventDefault();

            var author = $("input[name=username]").val();
            var message = $("input[name=message]").val();

            if (author.length && message.length) {
                var messageObject = {
                    author: author,
                    message: message
                };

                renderMessage(messageObject);

                socket.emit("sendMessage", messageObject);
            }
        });
        $(document).ready(function () {
            $(function () {
                var wtf = $('.messages');
                var height = wtf[0].scrollHeight;
                wtf.scrollTop(height);
            });
        });
    </script>

</body>

</html>