<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Chat desenvolvido para fins educacionais.">
    <meta name="keywords" content="chat, esp, espchat, esperantina">
    <meta name="author" content="Sampaio Leal">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>EspChat</title>
</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-6 text-center">
                <h1>EspChat</h1>
                <div class="jumbotron">
                    <div class="online"></div>
                    <form id="chat">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Nome de usuário">
                        </div>
                        <div class="card text-black bg-secondary mb-3" style="max-width: 40rem;">
                            <div class="card-header"><b>Mensagens</b></div>
                            <div class="card-body text-left messages">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="message" class="form-control" placeholder="Digite sua mensagem...">
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Enviar</button>
                    </form>
                    <hr class="my-4">
                    Built with ❤️, made by Sampaio Leal. Thanks to Emanuelle Sá
                </div>

            </div>
            <div class="col-sm"></div>
        </div>

    </div>

    <script>
        var socket = io("https://sampaioleal.ml");

        function renderMessage(message) {
            $(".messages").append("<div class='message'><strong>" + message.author + "</strong>: " + message.message + "</div>")
        }

        socket.on("receivedMessage", function (message) {
            renderMessage(message);
        });
        socket.on("previousMessages", function (messages) {
            for (message of messages) {
                renderMessage(message);
            }
        });
        socket.on('counter', function (data) {
            $(".online").html(`Online: ${data.count}`);
        });

        $("#chat").submit(function (event) {
            event.preventDefault();

            var author = $("input[name=username]").val();
            var message = $("input[name=message]").val();

            if (author.length && message.length) {
                var messageObject = {
                    author: author,
                    message: message
                };

                renderMessage(messageObject);

                socket.emit("sendMessage", messageObject);
                $("input[name=message]").val("");
            }
        });
        $(document).ready(function () {
            $(function () {
                var wtf = $('.messages');
                var height = wtf[0].scrollHeight;
                wtf.scrollTop(height);
            });
            $.backstretch("https://i2.wp.com/personalmarketingdigital.com.br/wp-content/uploads/2018/05/background-whatsapp-7.jpg?ssl=1")
        });
    </script>

</body>

</html>