.messages {
  min-height: 200px;
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.grid {
  padding-left: 15px!important;
  margin-right: 0rem!important;
}

body {
  background: #009688;
}
body>.grid {
  height: 100%!important;
}
.column {
  max-width: 450px;
}