<%- contentFor('title') %>
EspChat

<%- contentFor('content') %>
<style>
    body>.grid {
        height: 100% !important;
    }

    .column {
        max-width: 450px;
    }
</style>
<div id="loader" class="ui active dimmer">
    <div class="ui text loader">Carregando...</div>
</div>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <img src="/images/logo.png" width="300px" class="image">
        <div style="background: #ffffffcf;" class="ui center blue aligned segment">
            <a class="ui blue image label">
                <img src="/images/user.png">
                <span id="author"><%= username %></span>
            </a>
            <a class="ui green circular label"><span class="online"></span></a>

            <div class="ui divider"></div>


            <div class="ui raised left aligned segment">
                <div class="ui top attached label">Mensagens</div>
                <div class="ui celled list messages">
                </div>
            </div>

            <form id="chat">
                <div class="ui action fluid input">
                    <input type="text" name="message" placeholder="Digite sua mensagem...">
                    <button type="submit" class="ui blue icon button">
                        <i class="paper plane icon"></i>
                    </button>
                </div>
            </form>

            <div class="ui divider"></div>

            <div class="alert alert-dismissible alert-info">
                Built with ❤️, made by Sampaio Leal. Thanks to Emanuelle Sá
            </div>
            <a href="/" class="ui red button">💔 Sair</a>

        </div>
    </div>
</div>

</div>
<audio style="display: none" class="audios" id="audio" controls preload="none">
    <source src="/notification.mp3" type="audio/mpeg">
</audio>

<%- contentFor('scripts') %>
<script src="/js/chat.js"></script>