<%- contentFor('title') %>
EspChat - Entrar

<%- contentFor('content') %>
<div class="jumbotron">
    <h1>Fazer Login</h1>
    <form id="login">
        <div class="form-group">
            <input id="username" type="text" name="username" class="form-control" placeholder="Nome de usu치rio">
        </div>
        <button type="submit" class="btn btn-block btn-primary">Entrar</button>
    </form>
</div>
<%- contentFor('scripts') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    var socket = io("https://sampaioleal.ml");
    socket.on("validate", function (users) {
        var userList = users;
    });

    $("#login").submit(function (event) {
        event.preventDefault();
        for(user of userList) {
            if(user == $("#username").val()) {
                $("#username").val("");
                toastr.error('Este usu치rio j치 est치 online!', 'Desculpe.');
            }
        }
    });
</script>