<%- contentFor('title') %>
EspChat - Entrar

<%- contentFor('content') %>
<div class="jumbotron">
    <h1>Fazer Login</h1>
    <div class="form-group">
        <input id="name" type="text" class="form-control" placeholder="Nome de usuário">
    </div>
    <button id="join" class="btn btn-block btn-primary">Entrar</button>
    </form>
</div>

<%- contentFor('scripts') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/js/login.js"></script>