<%- contentFor('title') %>
EspChat - Entrar

<%- contentFor('content') %>
<div class="jumbotron">
    <h1>Fazer Login</h1>
    <div class="form-group">
        <input id="name" type="text" class="form-control" placeholder="Nome de usu치rio">
    </div>
    <button id="join" class="btn btn-block btn-primary">Entrar</button>
    </form>
</div>
<%- contentFor('scripts') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    var socket = io("https://sampaioleal.ml");
    var userList;
    socket.on("validate", function (users) {
        userList = users;
    });

    function post(path, params, method = 'post') {
        const form = document.createElement('form');
        form.method = method;
        form.action = path;
        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];
                form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit();
    }

    $("#join").click(function (event) {
        event.preventDefault();
        if ($("#name").val() in userList) {
            $("#name").val("");
            toastr.error('Este usu치rio j치 est치 online!', 'Desculpe.');
        }
        else {
            post('/chat', { username: $("#name").val() });
        }
    });
</script>