<%- contentFor('title') %>
EspChat - Entrar

<%- contentFor('content') %>
<div class="jumbotron">
    <h1>Fazer Login</h1>
    <div class="form-group">
        <input id="name" type="text" class="form-control" placeholder="Nome de usu치rio">
    </div>
    <button id="join" class="btn btn-block btn-primary">Entrar</button>

    <form style="display: none" id="form" method="POST" action="/chat">
        <input id="username" type="text" name="username">
    </form>
</div>
<%- contentFor('scripts') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    var socket = io("https://sampaioleal.ml");
    var userList;
    socket.on("validate", function (users) {
        userList = users;
    });

    $("#join").click(function (event) {
        event.preventDefault();
        if ($("#name").val() in userList) {
            $("#name").val("");
            toastr.error('Este usu치rio j치 est치 online!', 'Desculpe.');
        }
        else {
            $("#username").val() = $("#name").val();
            $("#form").submit();
        }
    });
</script>